body {
    padding-top: 0;
}

#page_search {
    padding-top: 80px;
    text-align: center;
}

#page_result {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#divider {
    height: 15px;
}

#btn_top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #ff4a4d;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#btn_top:hover {
    background-color: #555555;
}

@media screen and (max-width: 767px) {

    hr {
        width: 290px;
    }

    iframe {
        max-width: 290px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    hr {
        width: 560px;
    }

    iframe {
        min-width: 560px;
        min-height: 315px;
    }
}

@media screen and (min-width: 992px) {

    hr {
        width: 560px;
    }

    iframe {
        min-width: 560px;
        min-height: 315px;
    }
}
